/* line 3, ../resources/scss/helpers/_base.scss */
body {
  color: #4d4d4d;
  font-size: calc(10px + 1vmin);
  margin: 0 auto;
}
/* line 7, ../resources/scss/helpers/_base.scss */
body header {
  background-color: #24b3b5;
  color: #FFF;
  font-weight: bold;
  padding: 2% 0;
  text-align: center;
  width: 100%;
}
/* line 15, ../resources/scss/helpers/_base.scss */
body main {
  align-items: stretch;
  display: flex;
  padding: 1% 10%;
  justify-content: center;
}
/* line 21, ../resources/scss/helpers/_base.scss */
body #main-content {
  border: 1px solid #24b3b5;
  margin: 0;
  padding: 1%;
}
/* line 26, ../resources/scss/helpers/_base.scss */
body #side-content {
  background-color: #4d4d4d;
  color: #fff;
  padding: 1%;
}
/* line 31, ../resources/scss/helpers/_base.scss */
body footer {
  text-align: center;
}
/* line 35, ../resources/scss/helpers/_base.scss */
body ul li {
  list-style-type: circle;
  line-height: 2;
}
/* line 40, ../resources/scss/helpers/_base.scss */
body .no-display {
  display: none;
  width: 22.5rem;
}
/* line 44, ../resources/scss/helpers/_base.scss */
body .block-display {
  display: block;
  border: 1px solid;
}
/* line 49, ../resources/scss/helpers/_base.scss */
body .span-1 {
  width: 1;
}
/* line 49, ../resources/scss/helpers/_base.scss */
body .span-2 {
  width: 2;
}
/* line 49, ../resources/scss/helpers/_base.scss */
body .span-3 {
  width: 3;
}
/* line 52, ../resources/scss/helpers/_base.scss */
body .p-a {
  color: grey;
}
/* line 52, ../resources/scss/helpers/_base.scss */
body .p-b {
  color: grey;
}
/* line 52, ../resources/scss/helpers/_base.scss */
body .p-c {
  color: grey;
}
/* line 55, ../resources/scss/helpers/_base.scss */
body .cat-mow {
  content: cat;
  background-image: url("/images/mow.png");
}
/* line 55, ../resources/scss/helpers/_base.scss */
body .dog-bark {
  content: dog;
  background-image: url("/images/bark.png");
}
/* line 55, ../resources/scss/helpers/_base.scss */
body .lion-roar {
  content: lion;
  background-image: url("/images/roar.png");
}
/* line 61, ../resources/scss/helpers/_base.scss */
body p.sample-cat {
  font-weight: bold;
  font-size: 16px;
}
/* line 61, ../resources/scss/helpers/_base.scss */
body p.sample-dog {
  font-weight: bold;
  font-size: 16px;
}
/* line 61, ../resources/scss/helpers/_base.scss */
body p.sample-lion {
  font-weight: bold;
  font-size: 16px;
}
/* line 67, ../resources/scss/helpers/_base.scss */
body #flex-container {
  border: 1px solid #EF8D24;
  /*flex-direction: row-reverse;
  flex-wrap: wrap;*/
  flex-flow: row-reverse wrap;
  /* flex-flow: <'flex-direction'> <'flex-wrap'> */
  justify-content: center;
  /* flex-start | flex-end | center | space-between | space-around */
  display: inline-flex;
  /* flex | inline-flex */
  align-content: space-around;
  /* flex-start | flex-end | center | space-between | space-around | stretch */
  height: 150px;
  margin: 0 auto;
  max-width: 1650px;
  padding: 15px;
}
/* line 79, ../resources/scss/helpers/_base.scss */
body #flex-container .flex-child {
  border: 1px solid #24b3b5;
  padding: 10px;
  margin-right: 2px;
}
